# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Environment secrets
.env

# Logs
*.log

# Coverage
.coverage
htmlcov/

# SQLite temp journals
*.db-journal

# Temporary files
*.tmp
*.temp